 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html, body {
    overflow-x: hidden;
    max-width: 100vw;
  }
  
  body {
    color: #FFFFFF;
    -webkit-font-smoothing: antialiased;
    min-width: 320px;
    position: relative;
  }

#root {
  min-height: 100vh;
}